{% extends 'learnedapp/base.html' %}
{% block content %}
<h2 class="text-center">Your chats</h2>

{% if conversations %}
    <ul>
        {% for user, data in conversations %}
        <a href="{% url 'chat' user.username %}" class="text-decoration-none">
            <li>{{user.username}}</li>
            
            {% if data.message.sender == request.user %}
            <li>You: {{data.message.content|truncatechars:15}}</li>
            <li>{{data.message.timestamp|timesince}} ago</li>
            {% else %}
            <li>{{data.message.content|truncatechars:15}}</li>
            <li>{{data.message.timestamp|timesince}} ago</li>
            {% endif %}
            {% if data.unread_messages > 0 %}
            <small class="text-success">({{data.unread_messages}}) new</small>
            {% endif %}
        </a>
        <hr>
        {% endfor %}
    </ul>
{% else %}
<h2>No messages yet</h2>
{% endif %}

{% endblock %}